<appSettings>
    <!-- Dark Sky -->
    <add key="DarkSkyKey" value="326822655e26eedc135ea1c350699c9c" />
  <!--<add key="LocationName" value="My House" />
    <add key="LocationLat" value="33.486232" />
    <add key="LocationLong" value="-82.009654" />-->
  <!--<add key="LocationName" value="Vacation House"/>
  <add key="LocationLat" value="34.410960"/>
  <add key="LocationLong" value="-77.568009"/>-->
</appSettings>