@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This is a proof of concept site for interacting with the Dark Sky API. Using latitude and longitude values in the WeatherSettings.config file you can see the current weather information for that location.</p>
