@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>
<address><a href="https://www.techtalkaugusta.com">Tech Talk Augusta</a></address>
<address><a href="http://jamieintrocaso.com">JamieIntrocaso.com</a></address>


