@{
    ViewBag.Title = "Weather History Homepage";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This website will show you the weather history for a location. Currently it is showing the location for @ViewBag.LocationName</p>
    <a href="@Url.Action("Forecast", "Home")" class="btn btn-primary">See Current Forecast</a>
</div>

